{% extends 'base.html' %}
{% block content %}
<h1>PictureJet</h1>
<div style="text-align: center;" class="containr">

	<div >
		<i style="color:red;" class="far fa-sad-cry  fa-7x"></i>
		<div style="justify-content: center;" class="input-group">
			<i style="color:red;" class="fas fa-user-ninja fa-3x"></i>
			<p style="font-size:20px;color:yellow;">  A Ninja Stole This Page,So Page Not Found  </p>
			<i style="color:red;" class="fas fa-user-ninja fa-3x"></i>

		</div>

		 <a style="margin-right:5px;" class="btn btn-secondary home"  href="/" role="button">Home <i class="fas fa-home"></i></a>


	</div>
</div>

{% endblock %}